.Container {
    position: relative;
    background-color: white;
}

.Heading {
    color: #24282D;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.Paragraph {
    color: #373E43;
    text-align: justify;
    font-size: 18px;
    line-height: 140%; 
}

.Link {
    color: #373E43;
    letter-spacing: 0.72px;
    text-decoration-line: underline;
}