.Card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    min-height: 100%;
    color: #24282D;
    border-radius: 8px;
    padding-bottom: 20px;
}

.Title {
    font-size: 28px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
}

.Image {
    width: 532px;
    height: 270px;
    object-fit: cover;
    margin-top: 35px;
    border-radius: 8px;

}

.Text {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 532px;
}

.Description {
    text-align: justify;
    letter-spacing: 0.5px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Date {
    font-size: 15px;
    margin-bottom: 10px;
}

.Button {
    padding-top: 10px;
    margin-top: auto;
}