.Card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    color: #24282D;
    border-radius: 8px;
    padding: 20px;
}

.Title {
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
}

.Image {
    object-fit: cover;
    border-radius: 8px;
}

.Text {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Description {
    text-align: justify;
    letter-spacing: 0.5px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Date {
    font-size: 15px;
    margin-bottom: 10px;
}

.Button {
    padding-top: 10px;
    margin-top: auto;
}

@media (max-width: 1500px) { 
    .Card {
        max-width: 400px;
    }

    .Image {
        max-width: 400px;
    }
    .Text {
        max-width: 400px;
    }
}

@media (max-width: 1200px) { 
    .Card {
        max-width: 500px;
    }

    .Image {
        max-width: 500px;
    }
    .Text {
        max-width: 500px;
    }
}

@media (max-width: 700px) { 
    .Card {
        max-width: 80vw;
    }

    .Image {
        max-width: 80vw;
        height: 100%;
    }
    .Text {
        max-width: 80vw;
    }
}
