.Container {
    margin-bottom: 40px;
    width: 90%;
}

.Image {
    width: 468px;
    height: 216px;
    object-fit: cover;
}

.ArrowLeft {
    position: absolute;
    left: -100px;
    top: -50px;
    color: #153C65;
    transition: 0.3s;
}

.ArrowRight {
    position: absolute;
    top: -50px;
    color: #153C65;
    transition: 0.3s;
}

.ArrowLeft:hover {
    color: #89C0F0;
    transition: 0.3s;
}

.ArrowRight:hover {
    color: #89C0F0;
    transition: 0.3s;
}

.CardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Card {
    display: flex;
    flex-direction: column;
    width: 468px;
    transition: 0.3s;
    cursor: pointer;
}

.Card:hover {
    transform: scale(1.02);
    transition: 0.3s;
}

.Title {
    margin-top: 10px;
    font-size: 25px;
    margin-right: auto;
}

.Date {
    color: #8C9BA4;
}

@media (max-width: 500px) {
    .Card {
        max-width: 80vw;
    }

    .Image {
        max-width: 80vw;
    }
}