.Container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.CardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Card {
    display: flex;
    justify-content: center;
    width: 200px;
    min-height: 200px;
    cursor: pointer;
    transition: 0.3s;

}

.Card:hover {
    background-color: #F1F7FE;
    transition: 0.3s;
}

.Text {
    font-size: 23px;
    text-align: center;
}