.Container {
    display: flex;
    flex-direction: row;
    background-color: rgba(241, 246, 255, 255);
    border-radius: 8px;
    justify-content: space-around;
    padding-bottom: 40px;
}

.Text {
    margin-left: 20px;
    width: 40%;
    padding-bottom: 20px;
}

.Title {
    color: transparent;
    -webkit-text-stroke: 3px #114D8A;
    font-family: 'PFDinTextPro-Bold';
    font-size: 120px;
    line-height: 0.95;
    letter-spacing: 6px;
    margin-bottom: 60px;
    margin-top: 5vh;
}

.Description {
    color: #268df5;
    font-size: 25px;
    letter-spacing: 1px;
}

.ImagesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Image {
    max-height: 65vh;
}

.Svg {
    position: absolute;
    width: 85px;
    top: 200px;
    left: 55%;
    transform: rotate(-60deg);
}

@media (max-width: 1600px) {
    .Container {
        display: flex;
        flex-direction: column;
    }

    .Title {
        font-size: 100px;
    }

    .Text {
        width: 70vw;
    }

    .Svg {
        left: 75%;
    }
}

@media (max-width: 600px) {
    .Title {
        font-size: 50px;
        -webkit-text-stroke: 2px #114D8A;
    }

    Text {
        padding-left: 0px;
    }

    .Image {
        height: auto;
        width: 85vw;
    }
}