.Container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
    background-color: rgba(241, 246, 255, 255);
    border-radius: 8px;
}

.Text {
    padding-left: 40px;
    width: 40%;
}

.Title {
    color: transparent;
    -webkit-text-stroke: 3px #114D8A;
    font-family: 'PFDinTextPro-Bold';
    font-size: 7vw;
    line-height: 0.95;
    letter-spacing: 6px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.Description {
    color: #268df5;
    font-size: 1.5vw;
    line-height: 1.1;
    letter-spacing: 1px;
}

.ImagesContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.ImageCard1 {
    transform: rotate(-7.402deg);
    padding: 8px;
    border-radius: var(--Border, 8px);
    background: var(--bright-sun-400, #FFD324);
}

.ImageCard2 {
    transform: rotate(10.943deg);
    padding: 8px;
    border-radius: var(--Border, 8px);
    background: var(--bright-sun-400, #FFD324);
}

.ImageCard3 {
    transform: rotate(5.632deg);
    padding: 8px;
    border-radius: var(--Border, 8px);
    background: var(--bright-sun-400, #FFD324);
}

.Image {
    border-radius: 4px;
    max-width: 25vw;
    max-height: 35vh;
}

.ImagePos1 {
    position: relative;
    right: -23vw;
    top: 10vh;
    z-index: 2;
}

.ImagePos2 {
    position: relative;
    right: -5vw;
    top: -8vh;
    z-index: 1;
}

.ImagePos3 {
    position: relative;
    right: 18vw;
    top: 0;
    z-index: 3;
}

@media (max-width: 1300px) {
    .Container {
        display: flex;
        flex-direction: column;
    }

    .Image {
        border-radius: 4px;
        max-width: 15vw;
        max-height: 25vh;
    }

    .ImagePos1 {
        position: relative;
        right: -23vw;
        top: 10vh;
        z-index: 2;
    }

    .ImagePos2 {
        position: relative;
        right: -5vw;
        top: 0;
        z-index: 1;
    }

    .ImagePos3 {
        position: relative;
        right: 25vw;
        top: 5vh;
        z-index: 3;
    }
}