.Container {
    position: absolute;
    display: flex;
    background-color: #F1F7FE;
    left: 0;
    right: 0;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Image {
    width: 40vw;
    height: 35vh;
    object-fit: cover;
}

.TextContainer{
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: space-around;
}

.Info {
    position: relative;
    color:#0E2643;
    display: flex;
    gap: 20px;
}

.Title {
    color: #0E2643;
    font-size: 36px;
}

@media (max-width: 1200px) { 
    .Container {
       flex-direction: column;
       gap: 0;
    }
    
    .Image {
        width: 60vw;
        height: 40vh;
        object-fit: cover;
    }

    .TextContainer{
        width: 65vw;
        justify-content: flex-start;
        align-items: center;
    }
}

@media (max-width: 800px) { 
    .Title {
        font-size: 30px;
    }
}

@media (max-width: 450px) { 
    .Title {
        font-size: 25px;
    }
}