.NavbarContent {
    display: flex;
    width: 1280px;
    padding: 24px 48px 24px 156px;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
}

.Category {
    display: inline-flex;
    padding: 4px;
    justify-content: center;
    align-items: center;
    color: #0E2643;

}

.Category:hover {
    border-radius: 4px;
    background: #C0DCF7;
    color: #0E2643;
}

.Social {
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-left: auto;
}

.Image {
    width: 62px;
    height: 94px;
}

.ImageContainer {
    position: absolute;
    background: #FFF;
    border-radius: 0px 0px 10px 0;
    padding: 21px 15px;
    margin-left: 150px;
}
