.Container {
    display: flex;
    height: 40vh;
    background-color: #F1F7FE;
}

.TextContainer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
    margin: auto;
}

.Text {
    color: #0E2643;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    width: 20vw;
}

.Description {
    color: #114D8A;
    letter-spacing: 1.2px;
}

.HeroImage {
    max-width: 500px;
    border: 8px solid;
    border-radius: 10px;
    border-color: #114D8A;
    background-color: #114D8A;
    padding: 1px;
}

.HeroImageContainer {
    position: relative;
    transform: rotate(1.5deg);
    bottom: -35px;
    z-index: 1;
}

.Divder {
    position: absolute;
    background-color: #fff;
    z-index: 10;
    width: 100vw;
    right: 0;
    left: 0;
    margin-top: 40vh;
    margin-left: -10px;
    margin-right: -10px;
    border-top: 5px solid;
    border-color: #114D8A;
    height: 15vh;
}

@media (max-width: 760px) {
    .TextContainer {
        flex-direction: column;
        gap: 0px;
        margin-top: 0;
        margin-bottom: 0;
        justify-content: flex-start;
    }

    .Container{
        height: auto;
    }

    .Text{
        width: 50vw;
    }

    .Divder {
        margin-top: 50vh;
    }
}