.Social {
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-left: auto;
}

.Icon {
    display: flex;
}

.Flag {
    border-radius: 3px;
    height: 20px;
    width: 35px;
    object-fit: cover;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .Social {
        margin-left: 0;
        gap: 10px;
    }
}
