.SideMargin {
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 360px;
}

.PageContainer {
    position: relative;
    min-height: 100vh;
}

@media (max-width: 1200px) {
    .SideMargin {
        margin-left: 24px;
        margin-right: 24px;
        padding-bottom: 387px;
    }
}

@media (max-width: 760px) {
    .SideMargin {
        padding-bottom: 710px;
    }
}