.Container {
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #134679;
}

.Icons {
    display: flex;
    gap: 10px;
}

.Text {
    font-size: 22px;
}

.List {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ListText {
    color: #134679;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.64px;
    margin-bottom: 20px;
    transition: 0.03s;
}

.ListText:hover {
    color: #89C0F0;
    cursor: pointer;
    transition: 0.03s;
}