.Container {
    display: flex;
    gap: 20px;
    color: #134679;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 20px;
}

.Info {
    display: flex;
    gap: 50px;
}

.Details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.DetailsTitle {
    font-size: 22px;
    color: #0E2643;
}

.DetailsInfo{
    display: flex;
    justify-content: center;
}

.Oranisers {
    display: flex;
    justify-content: center;
    gap: 10px
}

.OrganisersLogo {
    height: 105px;
    width: auto;
}

@media (max-width: 1200px) { 
    .Container {
       flex-direction: column;
       align-items: center;
       text-align: center;
    }
}

@media (max-width: 700px) { 
    .Info {
        flex-direction: column;
        align-items: center;
    }
}
