.Container {
    position: absolute;
    background-color: #fff;
    border-bottom: #FFD324 1px solid;
    right: 0;
    left: 0;
    padding: 20px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    height: 20vh;
}

.Description {
    color: #CE8C00;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    width: 15vw;
}

.Section {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 12px;
}

.Section :not(.Header):hover {
    color: #4A9FE6;
}

.Link {
    color: #153C65;
    font-size: 16px;
    font-weight: 500;
}

.Header {
    color: #153C65;
    font-size: 20px;
    margin: 0;
    width: 100%;
}

.ExpandedContainer {
    display: flex;
    width: 50vw;
    justify-content: space-between;
}

@media (max-width: 1300px) {
    .ExpandedContainer {
        flex-direction: column;
        width: auto;
    }

    .Description {
        width: 50vw;
    }

    .Container {
        height: auto;
    }
}