.Container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 30px;
}

.Logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.LogoUp{
    display: flex;
    justify-content: center;
    align-items: start;
}