.Contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0fr 1fr;
    gap: 10px;
}

.Header {
    color: #2383D4;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 3px;
}

.Link {
    font-size: 20px;
    font-weight: 400;
    transition: 0.3s;
}

.Link:hover {
    color: #2383D4;
    transition: 0.3s;
}

.Icon {
    display: flex;
    justify-content: center;
    width: 35px;
}

.IconContainer{
    display: flex;
}

@media (max-width: 550px) { 
    .Contacts {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 10px 30px;
        max-width: 350px;
        text-align: center;
    }

    .IconContainer{
        justify-content: center;
    }
}