.Container {
    margin-bottom: 44px;
}

.Logos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.Logo {
    transition: 0.3s;
}

.Logo:hover {
    transform: scale(1.1);
    transition: 0.3s;
}