.Container {
    display: flex;
    gap: 20px;
    color: #134679;
    justify-content: space-around;
    align-items: start;
}

.Tickets{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 22px;
    color: #0E2643;
    transition: 0.03s;
}

.TicketUrl:hover, .Tickets:hover{
    color: #4A9FE6;
    transition: 0.03s;
}

.Info {
    display: flex;
    gap: 50px;
}

.Details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.DetailsTitle {
    font-size: 22px;
    color: #0E2643;
}

.Oranisers {
    display: flex;
    gap: 10px
}

.OrganisersLogo {
    max-height: 105px;
}

@media (max-width: 1200px) { 
    .Container {
       flex-direction: column;
       align-items: center;
       text-align: center;
    }
}

@media (max-width: 700px) { 
    .Info {
        flex-direction: column;
        align-items: center;
    }
}
