.Section {
    height: 832px;
    display: flex;
    flex-direction: column;
    margin-bottom: -10px;
}

.Container {
    position: absolute;
    left: 0;
    height: 737px;
    width: 100%;
    background-color: #89C0F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.Text {
    width: 30vw;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 50px;
}

.Triangle {
    position: relative;
    left: -150px;
    margin-bottom: -2px;
    border-left: 100vw solid transparent;
	border-bottom: 95px solid #89C0F0;
    z-index: 2;
}

.TriangleDown {
    position: relative;
    left: -150px;
    margin-top: auto;
    margin-bottom: 9px;
    bottom: 0;
    border-left: 100vw solid transparent;
	border-bottom: 95px solid #0E2643;
}


.Image {
    z-index: 2;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0px 1px 2px 0px black;
}

.ImagesContainer .Image:nth-child(1){
    position: absolute;
    width: 215px;
    height: 230px;
    right: 300px;
    top: 30px;
    transform: rotate(-12deg);
}

.ImagesContainer .Image:nth-child(2){
    position: absolute;
    width: 300px;
    height: 250px;
    left: 300px;
    top: 50px;
    transform: rotate(10deg);
}

.ImagesContainer .Image:nth-child(3){
    position: absolute;
    width: 300px;
    height: 200px;
    right: 300px;
    top: 320px;
    transform: rotate(8deg);
}

.ImagesContainer .Image:nth-child(4){
    position: absolute;
    width: 350px;
    height: 300px;
    left: 300px;
    top: 400px;
    transform: rotate(-10deg) scale(0.8);
}

.ImagesContainer .Icon:nth-child(5){
    position: absolute;
    width: 155px;
    height: 155px;
    right: 200px;
    top: -200px;
}

.ImagesContainer .Icon:nth-child(6){
    position: absolute;
    left: 300px;
    top: 300px;
}

.ImagesContainer .Icon:nth-child(7){
    position: absolute;
    right: 350px;
    bottom: 100px;
    transform: rotate(5deg);
}

@media (max-width: 1700px) {
    .ImagesContainer .Image:nth-child(1){
        right: 100px;
    }
    
    .ImagesContainer .Image:nth-child(2){
        left: 50px;
    }
    
    .ImagesContainer .Image:nth-child(3){
        right: 50px;
    }
    
    .ImagesContainer .Image:nth-child(4){
        left: 50px;
    }
    
    .ImagesContainer .Icon:nth-child(5){
        right: 50px;
    }
    
    .ImagesContainer .Icon:nth-child(6){
        left: 50px;
    }
    
    .ImagesContainer .Icon:nth-child(7){
        right: 100px;
    }
}

@media (max-width: 1200px) {
    .Text{
        width: 50vw;
    }

    .Section{
        height: 1200px;
    }

    .Container{
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .Triangle  {
        left: -24px;
    }

    .TriangleDown{    
        left: -24px;
        margin-bottom: -40px;
    }

    .ImagesContainer .Image:nth-child(1){
        right: 25px;
    }
    
    .ImagesContainer .Image:nth-child(2){
        left: -50px;
    }
    
    .ImagesContainer .Image:nth-child(3){
        right: 25px;
        top: auto;
        bottom: 200px;
    }
    
    .ImagesContainer .Image:nth-child(4){
        left: 0;
        top: auto;
        bottom: 100px;
    }
    
    .ImagesContainer .Icon:nth-child(5){
        display: none;
    }
    
    .ImagesContainer .Icon:nth-child(6){
        left: auto;
        right: 0;
        top: 250px;
    }
    
    .ImagesContainer .Icon:nth-child(7){
        right: 0;
    }
}

@media (max-width: 760px) {
    .Text{
        width: 80vw;
    }

    .ImagesContainer .Image:nth-child(4){
        display: none;
    }
    
    .ImagesContainer .Image:nth-child(1){
        display: none;
    }
}

@media (max-width: 320px) {
    .ImagesContainer .Image:nth-child(3){
        display: none;
    }
}


@media (max-width: 250px) {
    .ImagesContainer .Image:nth-child(2){
        display: none;
    }
}
