.Margin {
    margin: 44px 0;
}

.Container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Icon {
    color: #114D8A;
}

.Text {
    color: #EFB603;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "PFDinTextPro-Bold";
}