.Container {
    align-items: flex-start;
    background-color: #0E2643;
    color: #F6F7F8;
    display: flex;
    padding: 48px 48px 32px;
    font-size: 16px;
    line-height: 140%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.NavigationSection {
    align-items: flex-start;
    justify-content: center;
    display: inline-flex;
    gap: 8vw;
    width: 100%;
}

.NavSection {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    gap: 8px;
}

.NavSection2 {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.Header {
    font-size: 18px;
    font-weight: 700;
}

.Link {
    color: #F6F7F8;
    font-size: 16px;
    transition: 0.3s;
}

.Link:hover {
    color: #89C0F0;
    transition: 0.3s;
}

.NavSection :not(.Header):hover {
    color: #89C0F0;
    transition: 0.3s;
}

.NavSection2:hover {
    color: #89C0F0;
    transition: 0.3s;
}

.Info {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 1200px) {
    .Container {
        flex-direction: column;
        align-items: center;
    }

    .LogoContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .Info {
        height: 143px;
    }
}

@media (max-width: 760px) {
    .NavigationSection {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    
    .NavSection2 {
        flex-direction: row;
        grid-column: span 2;
    }
}