.Margins{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 48px;
    margin-right: 48px;
    width: 95%;
    height: 70vh;
    background-color: rgba(241,246,255,255);
    border-radius: 8px;
}

.Text {
    padding-left: 40px;
    width: 40%;
}

.Title {
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 3px #114D8A;
    font-size: 7vw;
    line-height: 0.95;
    letter-spacing: 6px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.Description {
    color: #114D8A;
    font-size: 1.5vw;
    line-height: 1.1;
    letter-spacing: 1px;
}