.Margins{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 48px;
    margin-right: 48px;
    width: 100;
    height: 556px;
    background-color: rgba(241,246,255,255);
}

.Text {
    padding-left: 40px;
    width: 476px;
}

.Title {
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 3px #114D8A;
    font-size: 100px;
    line-height: 0.95;
    letter-spacing: 6px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.Description {
    color: #114D8A;
    font-size: 20px;
    line-height: 1.1;
    width: 400px;
    top: 0;
    letter-spacing: 1px;
}