.Button {
    display: inline-flex;
    padding: 4px;
    justify-content: center;
    align-items: center;
    color: #0E2643;
    border-radius: 4px;
    border: 0;
    background-color: #FFF;
    font-size: 20px;
    font-family: "PFDinTextPro-Regular";
    font-weight: 700;
}

.Button:hover {
    background: #C0DCF7;
    cursor: pointer;
}