.Latest {
    display: flex;
    justify-content: space-around;
}

.GridContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 200px;
    margin-top: 50px;
}

@media (max-width: 1500px) { 
    .Latest {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}