.Container {
    display: flex;
}

.Button {
    display: flex;
}

.ImageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Image {
    height: auto;
    width: 90px;
    object-fit: contain;
}

.TextContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
    width: 100vw;
}

.Text {
    margin-top: 25px;
    font-size: 20px;
}

.HeroImage {
    width: auto;
    height: 40vh;
    border: 8px solid;
    border-radius: 10px;
    padding: 1px;
    object-fit: contain;
}

.HeroImageContainer {
    position: relative;
    transform: rotate(1.5deg);
    bottom: -35px;
    z-index: 0;
    width: auto;
}

.Divider {
    position: relative;
    background-color: #fff;
    border-top: 5px solid;
    height: 5vh;
    width: 100%;
    z-index: 2;
}


@media (max-width: 1000px) {
    .TextContainer {
        flex-direction: column;
        gap: 0px;
        justify-content: flex-start;
    }

    .Text {
        max-width: 80vw;
        text-align: center;
    }

    .HeroImage {
        width: 90vw;
        height: auto;
        border: 6px solid;
    }

    .ImageContainer{
        margin-top: 35px;
    }
}