.Container{
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 480px;
}

.Image {
    width: 264px;
    height: 320px;
    background-color: #FFD324;
    border: 10px solid #FFD324;
    border-radius: 8px;
    object-fit: cover;
}

.Information {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.Name {
    font-size: 25px;
    font-weight: 400;
}

.Position {
    font-weight: 700;
}

.Contacts {
    color:#48535C;
    display: flex;
    align-items: center;
    gap: 5px;
}

@media (max-width: 600px) {
    .Image {
        width: 247px;
        height: 300px;
    }

    .Container{
        flex-direction: column;
        max-width: 300px;
    }

    .Information, .MainSection{
        align-items: center;
        text-align: center;
    }
}