.Body {
    height: 100%;
}

.ContactCards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
    margin-bottom: 100px;
    justify-items: center;
}

@media (max-width: 1200px) { 
    .ContactCards {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 500px) { 
    .ContactCards {
        margin-bottom: 200px;
    }
}