.Container {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
}

.Text {
    color: #0E2643;
    text-align: center;
}

.Description {
    color: #0E2643;
    font-size: 20px;
    line-height: 1.4;
}

.Margin {
    margin-bottom: 150px;
}

@media (max-width: 1200px) {
    .Container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}