.Container {
    position: absolute;
    display: flex;
    right: 0;
    left: 0;
    z-index: 0;
}

.Button {
    display: flex;
}

.ImageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Image {
    max-width: 90px;
}

.TextContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
    width: 100vw;
}

.Text {
    font-size: 20px;
    max-width: 20vw;
}

.HeroImage {
    max-height: 40vh;
    border: 8px solid;
    border-radius: 10px;
    padding: 1px;
    object-fit: cover;
}

.HeroImageContainer {
    position: relative;
    transform: rotate(1.252deg);
    bottom: -35px;
    z-index: -3;
}

.Divder {
    position: absolute;
    background-color: #fff;
    z-index: 10;
    right: 0;
    left: 0;
    border-top: 5px solid;
    height: 5vh;
}


@media (max-width: 900px) {
    .TextContainer {
        flex-direction: column;
        gap: 0px;
        justify-content: flex-start;
    }

    .Text {
        max-width: 80vw;
        text-align: center;
    }

    .HeroImage {
        width: 80vw;
    }

    .ImageContainer{
        margin-top: 35px;
    }
}