.Container {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #F1F7FE;
}

.SectionName {
    margin-top: 44px;
    margin-left: 150px;
}

.Spacing {
    display: flex;
    justify-content: center;
    margin-bottom: 44px;
}

.Spacing .Note:nth-child(odd) { 
    transform: rotate(5deg);
    margin-left: -30px;
}

.Spacing .Note:nth-child(even) { 
    transform: rotate(-15deg);
    margin-left: -20px;
}

@media (max-width: 1200px) {
    .SectionName {
        margin-left: 24px;
    }
}

@media (max-width: 940px) {
    .Spacing {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Spacing .Note:nth-child(odd) { 
        margin-left: 0;
        width: 245px;
        margin-top: -20px;
    }
    
    .Spacing .Note:nth-child(even) { 
        margin-left: 0;
        width: 245px;
        margin-top: -50px;
    }
}