.Container {
    display: flex;
    background-color: #F1F7FE;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Image {
    width: 40vw;
    height: auto;
    object-fit: contain;
    margin-left: 150px;
}

.TextContainer{
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: space-around;
}

.Title {
    color: #0E2643;
    font-size: 36px;
}

.Tickets{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 22px;
    color: #0E2643;
    transition: 0.03s;
}

.TicketUrl:hover, .Tickets:hover{
    color: #4A9FE6;
    transition: 0.03s;
}


@media (max-width: 1200px) { 
    .Container {
       flex-direction: column;
       gap: 0;
    }
    
    .Image {
        width: 80vw;
        object-fit: cover;
        margin-left: 0;
    }

    .TextContainer{
        width: 65vw;
        justify-content: flex-start;
        align-items: center;
    }

    .Title {
        text-align: center;
    }
}

@media (max-width: 800px) { 
    .Title {
        font-size: 30px;
    }
}

@media (max-width: 450px) { 
    .Title {
        font-size: 25px;
    }
}