.Container {
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    padding-bottom: 32px;
}

.Header {
    color: #24282D;
    font-size: 38px;
    font-weight: 600;
    letter-spacing: -0.5px;
    margin: 0;
}

.Arrow {
    width: 32.527px;
    height: 35.78px;
}