.Container {
    margin-bottom: 32px;
}

.Header {
    display: flex;
    color: #24282D;
    font-size: 38px;
    font-weight: 600;
    letter-spacing: -0.5px;
    gap: 16px;
}

.Arrow {
    width: 32px;
    height: 35px;
    margin-top: 4px;
}

@media (max-width: 940px) {
    .Header {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 16px;
    }
}