.InfoCards {
    display: grid;
    gap: 24px;
    margin-bottom: 5em;
}

@media (min-width: 800px) {
    .InfoCards { grid-template-columns: repeat(2, auto); }
}

@media (min-width: 1200px) {
    .InfoCards { grid-template-columns: repeat(3, auto); }
}