.Container {
    margin-bottom: 44px;
}

.Section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}

.GridContainer  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 24px;
    gap: 25px;
}

.ButtonContainer {
    display: flex;
    justify-content: center;
}

@media (max-width: 1600px) {
    .Section {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 940px) {
    .GridContainer  {
        display: flex;
        flex-direction: column;
    }
}