.Divider {
    display: flex;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    height: 140px;
    width: 110vw;
    left: -20px;
    background-color: #0E2643;
    transform: rotate(-3.5deg);
    white-space: nowrap;
    font-size: 66px;
    font-weight: 500;
    letter-spacing: 10px;
    color: transparent;
    -webkit-text-stroke: 2px #FFE343;
    font-family: "PFDinTextPro-Bold";
    overflow: hidden;
}

.Container {
    height: 35vh;
    overflow: hidden;
}

.Text {
    margin-right: 100px;
}