.Divider {
    width: 100;
    height: 100px;
    background-color: #0E2643;
    overflow: hidden;
    transform: rotate(-3.5deg);
    color: white;
    white-space: nowrap;
    font-weight: bold;
    letter-spacing: 8px;
    font-size: 70px;
    color: transparent;
    margin: 0 auto;
}

.Text {
    display:inline-block;
    margin: 0;
    -webkit-text-stroke: 2px #FFE343;
    -webkit-animation: scrolling-left1 20s linear infinite;
    animation: scrolling-left1 20s linear infinite;

}

.Text2 {
    display:inline-block;
    margin: 0;
    -webkit-text-stroke: 2px #FFE343;
    -webkit-animation: scrolling-left2 20s linear infinite;
    animation: scrolling-left2 20s linear infinite;
    animation-delay: 10s;
}

@keyframes scrolling-left1 {
    0% {transform: translateX(100%);
        -webkit-transform: translateX(100%);}
      100% {transform: translateX(-100%);
          -webkit-transform: translateX(-100%);}
}
@keyframes scrolling-left2 {
    0% {transform: translateX(0%);
        -webkit-transform: translateX(0%);}
      100% {transform: translateX(-200%);
          -webkit-transform: translateX(-200%);}
}

@-webkit-keyframes scrolling-left1 {
    0% {-webkit-transform: translateX(100%);}
      100% {-webkit-transform: translateX(-100%);}
}
@-webkit-keyframes scrolling-left2 {
    0% {-webkit-transform: translateX(0%);}
      100% {-webkit-transform: translateX(-200%);}
}