.Divider {
    display: flex;
    position: absolute;
    align-items: center;
    height: 140px;
    max-width: 100%;
    left: -6px;
    background-color: #0E2643;
    transform: rotate(-3.5deg);
    white-space: nowrap;
    font-size: 66px;
    letter-spacing: 10px;
    color: transparent;
    -webkit-text-stroke: 2px #FFE343;
    font-family: "PFDinTextPro-Bold";
    overflow: hidden;
}

.Container {
    height: 35vh;
    overflow-x: hidden;
}

.Text {
    margin-right: 100px;
}